* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

.container {
  display: flex;
  background-color: silver;
  height: 80%;
  width: 70%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.header {

}

.container p {

}

.owl {

}